/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif; */

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --logo-font-size: 2em;
  --primary-color: #ef233c;
  --bg-color-dark: #120d31;
  --text-color-light: #fffbff;
  --text-color-dark: #c05dc0;
  --border-radius-sm: 6px;
  --card-color-1: #1a9561;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:any-link {
  color: var(--text-color-light);
}

.up {
  display: none;
  background-color: var(--primary-color);
  padding: 1em;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.up:hover {
  background-color: var(--bg-color-dark);
  transform: rotate(360deg);
  color: var(--primary-color);
}

body {
  color: var(--text-color-light);
  max-width: 1920;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  background-color: #120d31;
}

/* All section backgrounds */
body,
#projects,
#talks,
#testimonial {
  background-image: url(images/bg/blob.svg);
  background-size: auto 75vw;
  background-repeat: no-repeat;
}

#contact {
  background-image: url(images/bg/blob.svg), url(images/bg/blob.svg);
  background-size: auto 75vw;
  background-repeat: no-repeat;
  background-position: top, bottom;
}

#work {
  background-image: none;
}

nav {
  /* background-color: #120d31; */
  color: var(--text-color-light);
}

/* header & navbar */

.logo {
  font-family: "Pacifico", cursive;
  font-size: var(--logo-font-size);
  color: var(--primary-color);
  cursor: pointer;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  margin-top: 2em;
}

.menu-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 28px;
  height: 4px;
  background: var(--primary-color);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background: var(--primary-color);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-14px);
}
.menu-btn__burger::after {
  transform: translateY(14px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

header > nav > ul {
  display: flex;
  flex-wrap: wrap;
}

header > nav > ul > li {
  margin-left: 12px;
  margin-top: 12px;
  padding: 16px 12px;
  max-height: 18px;
  border-radius: var(--border-radius-sm);
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
img.buymeacoffee {
  max-width: 154px;
  padding: 0;
  margin-top: -12px;
}

/* underline animation */
.hover-underline-animation {
  display: inline-block !important;
  position: relative;
  cursor: pointer;
}

/* Title and sub title */
.title {
  font-size: 2.5em;
  font-weight: normal;
  padding-bottom: 6px;
  margin: 12px 6px;
}

.subtitle {
  font-size: 1.2em;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  margin: 12px 6px;
  line-height: 1.5em;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hero section */

main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
  max-width: 80vw;
  margin: auto;
}

main > div > img {
  height: 156px;
  width: 156px;
  margin-bottom: 2em;
}

main > div > .hello {
  display: flex;
}

main > div > img {
  border-radius: 50%;
}

main > div > .hello h1 {
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 1em;
  margin-right: 0.6em;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

main > div > p {
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.6em;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
}

button.cta {
  padding: 1em 1.5em;
  font-family: "Nunito", sans-serif;
  margin: 24px;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: var(--border-radius-sm);
  color: var(--text-color-light);
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}

button.contact {
  padding: 0.8em;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 3px;
  color: var(--text-color-light);
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  cursor: pointer;
  margin-top: 12px;
}

main img {
  height: 2em;
  width: 2em;
  margin-top: 24px;
}

#work,
#projects,
#talks,
#contact,
#testimonial {
  padding: 1em 2em;
  padding-top: 10vh;
}

#work > .card-grid-container,
#projects > .card-grid-container,
#talks > .card-grid-container,
#blog > .card-grid-container {
  margin-top: 3em;
}

/* relative for modal */
#contact {
  position: relative;
}
.card-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 2em;
  transition: all 0.5s ease-in-out;
}

.bs:hover {
  box-shadow: -3px 9px 19px 3px rgba(146, 146, 146, 0.75);
  -webkit-box-shadow: -3px 9px 19px 3px rgba(146, 146, 146, 0.75);
  -moz-box-shadow: -3px 9px 19px 3px rgba(146, 146, 146, 0.75);
}

.card-container {
  color: var(--text-color-light);
  background-color: var(--card-color-1);
  padding: 2em;
  min-height: minmax(600px, 60vh);
  border-radius: var(--border-radius-sm);
}

.card-container > .card-icon {
  margin-bottom: 24px;
  font-size: 2.2em;
  font-weight: 900;
}

.card-container > .card-head-image {
  margin-bottom: 24px;
  max-height: 200px;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.card-container > .card-title {
  margin-bottom: 24px;
  font-size: 1.4em;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.card-container > .card-desc {
  margin-bottom: 12px;
  line-height: 1.4em;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  /* height: 300px; */
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.swiper-pagination-bullet {
  background: var(--text-color-light);
}

#contact {
  padding-bottom: 5em;
}

#contact a {
  color: var(--text-color-light);
  font-size: 1.2em;
  text-decoration: none;
}

.socials {
  margin-top: 2em;
  display: flex;
  /* justify-content: space-between; */
}

.socials form {
  max-width: 60vw;
  margin: 0 auto;
}
input,
textarea {
  margin: 8px 0;
  height: 36px;
  width: 100%;
  background-color: var(--text-color-light);
  border-radius: var(--border-radius-sm);
  outline: none;
  border: 1px solid var(--primary-color);
  padding: 6px 1em;
  font-size: 1.2em;
}

textarea {
  min-height: 30vh;
}

.icon-button i {
  color: var(--text-color-light);
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin: 0 5px 10px;
}
.icon-button i:hover {
  color: var(--primary-color);
}

#cft {
  position: absolute;
  max-width: 80vw;
  min-height: 80vh;
  display: none;
}

.w-bg {
  transition: all 0.3s ease-in-out;
}

.w-bg:hover {
  padding: 0.6em;
  border-radius: var(--border-radius-sm);
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  /* margin-top: 2em; */
}

/* modal */
.body-blackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}
.body-blackout.is-blacked-out {
  display: block;
}

.popup-modal {
  max-height: 365px;
  max-width: 650px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
  color: var(--text-color-dark);
  border-radius: 5px;
}

.popup-modal h1 {
  font-size: 1.2em;
}

.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
}
.popup-modal__close {
  position: absolute;
  font-size: 2rem;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

::-moz-selection {
  color: var(--text-color-light);
  background: var(--primary-color);
}

::selection {
  color: var(--text-color-light);
  background: var(--primary-color);
}

@media screen and (max-width: 900px) {
  header > nav > ul > li {
    margin-top: 12px;
    padding: 16px 4px;
    max-height: 18px;
  }
  body > header > nav > ul > li:nth-child(7) > a > img {
    max-width: 124px;
    padding: 0;
    margin-top: -12px;
  }
}

@media screen and (max-width: 750px) {
  header {
    margin-top: 1em;
  }
  #work {
    background-image: url(images/bg/blob.svg);
    background-size: auto 75vw;
    background-repeat: no-repeat;
  }
  nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: -200%;
    top: 60px;
    transition: all 0.5s ease-in-out;
    background-color: var(--text-color-light);
    background-color: var(--primary-color);
    width: 100%;
    min-height: 85vh;
  }

  nav ul {
    flex-direction: column;
    margin-left: 2em;
  }

  nav.active {
    left: 0;
  }

  .logo {
    font-family: "Pacifico", cursive;
    font-size: 1.8em;
  }

  header .menu-btn {
    display: flex;
    cursor: pointer;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
  }

  main img {
    margin-top: 2em;
  }

  main > div > p {
    font-size: 1em;
  }

  .socials {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .socials ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
  }

  .socials ul li {
    margin: 0 12px;
  }
  .socials form {
    max-width: 70vw;
    margin-right: 3em;
  }

  .hover-underline-animation {
    border-bottom: 2px solid var(--primary-color);
  }
}
