@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Lato", sans-serif;
}

#menu-toggle:checked + #menu {
  display: block;
}

/* mongodb svg */
.cls-1 {
  fill: #10aa50;
}
.cls-2 {
  fill: #b8c4c2;
}
.cls-3 {
  fill: #12924f;
}
.cls-4 {
  fill: #21313c;
}
